:root {
  --amarelo: #FFC906;
  --vermelho: #FB4040;
  --vermelho-claro: #FF6D6D;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-teko: 'Teko', sans-serif;
  --borda-amarela: 10px solid var(--amarelo)
}

