:root {
    --amarelo: #FFC906;
    --vermelho: #FB4040;
    --vermelho-claro: #FF6D6D;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-teko: 'Teko', sans-serif;
}

body {
    background-color: black;
    font-family: var(--font-montserrat);
    margin-bottom: 100px;
}





/*******************************************************************************
INÍCIO BOTAO PERSONALIZADO
*******************************************************************************/
.botao-personalizado {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-family: var(--font-teko);
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    color: black;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 5px;
    margin: 0;
}

.botao-personalizado:hover {
    background-color: var(--amarelo);
    text-decoration: none!important;
    color: black;
}

.botao-personalizado + .botao-personalizado {
    margin-left: 10px;
}

.botao-personalizado.botao-cancelar {
    background-color: var(--vermelho-claro);
}

.botao-personalizado.botao-cancelar:hover {
    background-color: var(--vermelho);
}
/*******************************************************************************
INÍCIO BOTAO PERSONALIZADO
*******************************************************************************/





/*******************************************************************************
INÍCIO NAV, NAVBAR
*******************************************************************************/
header, header nav {
    background-color: var(--amarelo)!important;
    font-family: var(--font-teko);
    font-size: 24px;
    text-transform: uppercase;
}

header nav .navbar-brand {
    margin-right: 40px;
}

header nav .nav-link {
    color: black;
    margin: 0 10px;
    padding: 0 10px!important;
    position: relative;
}

header nav .nav-link:hover::before {
    max-width: 1000px;
}

header nav .nav-link:hover, header nav .link-button {
    color: white;
    background-color: black;
}

header nav .link-button {
    color: white!important;
    background-color: black;
    display: flex;
    align-items: center;
}

header nav .link-button:hover {
    color: var(--amarelo)!important;
}

header nav .link-button i {
    font-size: 16px;
    position: relative;
    top: -1px;
    margin-right: 5px;
}

header nav .navbar-toggler {
    color: var(--amarelo)!important;
    background-color: black;
    height: 60px!important;
    transition: background .2s;
}

header nav .navbar-toggler:active, header nav .navbar-toggler:focus {
    background-color: transparent;
    color: black!important;
}

/*******************************************************************************
FIM NAV, FIM NAVBAR
*******************************************************************************/





/*******************************************************************************
INÍCIO NAVEGAÇÃO AUXILIAR
*******************************************************************************/

div.navegacao-auxiliar {
    background-color: transparent!important;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 0;
}

div.navegacao-auxiliar span {
    color: white!important;
}

div.navegacao-auxiliar span.active {
    font-weight: bold;
}

div.navegacao-auxiliar span a {
    color: white;
    text-decoration: none;
    display: flex;
}

div.navegacao-auxiliar span a i {
    font-size: 22px!important;
}

div.navegacao-auxiliar span a:hover {
    color: var(--amarelo);
}


/*******************************************************************************
FIM NAVEGAÇÃO AUXILIAR
*******************************************************************************/





/*******************************************************************************
INÍCIO NOTICIA
*******************************************************************************/
.noticia {
    color: white!important;
    position: relative;
    display: block;
    padding-top: 10px;
}

.noticia::before {
    display: block;
    min-height: 10px;
    max-height: 0;
    top: 0;
    left: 0;
    right: 0;
    content:"";
    background-color: var(--amarelo);
    position: absolute;
    z-index: -1;
}

.noticia div.data-noticia {
    margin: 20px 0 15px;
    font-size: 14px;
    color: var(--amarelo);
}

.noticia div.titulo-noticia {
    --tamanho-texto: clamp(24px, 7vw, 48px);
    font-size: var(--tamanho-texto);
    font-weight: bold;
    line-height: calc(var(--tamanho-texto * 1.1));
    margin-top: -10px;
}

.noticia div.lide-noticia {
    --tamanho-texto: clamp(18px, 4.375vw, 24px);
    font-size: var(--tamanho-texto);
    margin-top: 20px;
}

.noticia hr {
    border: none;
    border-bottom: 1px solid #36373B;
    margin: 40px 0;
}

.noticia div.corpo-noticia {
    font-size: 18px;
    line-height: 36px;
}

.noticia div.corpo-noticia p {
    margin-bottom: 24px;
}
/*******************************************************************************
FIM NOTICIA
*******************************************************************************/





/*******************************************************************************
INÍCIO ITENS NOTICIA
*******************************************************************************/
.item-noticia + .item-noticia {
    margin-top: 80px;
}

.item-noticia div.titulo-noticia {
    font-size: 36px!important;
    line-height: 40px!important;
    margin-top: 0!important;
}

.item-noticia div.lide-noticia {
    font-size: 18px;
    margin: 15px 0 30px!important;
    padding: 0!important;
    border: 0!important;
}

.item-noticia button:hover,
a.item-noticia:hover button {
    background: var(--amarelo);
}

.item-noticia button.ler-mais-noticia {
    width: 100%;
}

a.item-noticia:hover {
    text-decoration: none!important;
}

a.item-noticia:hover div {
    color: var(--amarelo)!important;
}

/*******************************************************************************
FIM ITENS NOTICIA
*******************************************************************************/





/*******************************************************************************
INÍCIO FORMULÁRIO
*******************************************************************************/
.noticia-form {
    border-top: 10px solid var(--amarelo);
}

.noticia-form div {
    margin-top: 50px;
}

.noticia-form div label {
    font-size: 25px;
    color: white;
}

.noticia-form div input[type='text'], .noticia-form div textarea {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    padding: 0 15px;
}

.noticia-form div input[type='text']:focus, .noticia-form div textarea:focus {
    outline: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, .4);
}

.noticia-form div input[type='text'] {
    height: 70px;
    font-size: 36px;
    font-weight: bold;
}

.noticia-form div textarea {
    padding: 10px;
    font-size: 18px;
}

.noticia-form div textarea#lide {
    height: 105px;
}

.noticia-form div textarea#corpo {
    height: 280px;
}

.noticia-form .erro {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--vermelho);
    border: 1px solid var(--vermelho);
}
/*******************************************************************************
FIM FORMULÁRIO
*******************************************************************************/