<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <th:block th:include="fragments/general.html :: headerfiles"> </th:block>
    </head>
    <body>
        <!-- Data de publicação -->
        <div class="data-noticia" th:fragment="data-noticia (data)">Publicado em <span th:text="${#dates.format(data, 'dd ''de'' MMMM ''de'' yyyy ''às'' HH''h''mm')}"></span></div>
    
    
        <!-- Início formulário -->
        <div th:fragment="formulario-input (label, name, value)">
            <label th:for="${name}" th:text="${label}"> </label> <br>
            <input type="text" th:name="${name}" th:id="${name}" th:value="${value}" required>
        </div>
        
        
        <div th:fragment="formulario-textarea (label, name, value)">
            <label th:for="${name}" th:text="${label}"></label> <br>
            <textarea th:name="${name}" th:id="${name}" th:text="${value}"></textarea>
        </div>
        
        
        <div th:fragment="formulario-botoes (noticia)" class="d-flex" id="botoes">
            <input type="submit" class="botao-personalizado flex-grow-1" th:value="${noticia != null ? 'Salvar' : 'Cadastrar'}">
            <a class="botao-personalizado botao-cancelar col-3" id="cancelar" th:href="${(#mvc.url('NC#getNoticias')).build()}">DESCARTAR</a>
        </div>
        
        <div th:fragment="formulario-erro" class="erro" th:unless="${#strings.isEmpty(mensagem_erro)}"> <span th:text="${mensagem_erro}"> </span></div>
    </body>
</html>
