<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Imperial Press</title>
        <th:block th:include="fragments/general-fragments.html :: headerfiles"> </th:block>
    </head>
    <body>
        <header th:insert="fragments/general-fragments.html :: header"> </header>
        
        <div class="navegacao-auxiliar" th:replace="fragments/general-fragments.html :: navegacaoauxiliar('Notícias')"> </div>
        
        <section class="conteudo">
            <div class="container">
                
                <a th:href="${(#mvc.url('NC#getNoticiaDetails').arg(0, noticia.id)).build()}" class="noticia item-noticia" th:each="noticia : ${noticias}">
                    <div class="data-noticia" th:replace="fragments/noticia-fragments.html :: data-noticia(${noticia.dataCriacao})"></div>
                    <div class="titulo-noticia" th:text="${noticia.titulo}"></div>
                    <div class="lide-noticia" th:text="${noticia.lide}"></div>
                    <button class="botao-personalizado ler-mais-noticia">+ Ler mais</button>
                </a>
                
            </div>
        </section>
        
        <th:block th:include="fragments/general-fragments.html :: scripts"> </th:block>
    </body>
</html>
